<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mintae.dating.interest.mapper.InterestMapper">

    <select id="getInterests" resultType="com.mintae.dating.interest.vo.Interest">
        SELECT * FROM interest where custom = false
    </select>

    <insert id="insertInterest">
        insert into interest(content, custom)
        values(#{content}, false)
    </insert>

    <update id="updateInterest">
        update interest set
        content = #{content}
        where id = #{id}
    </update>

    <delete id="deleteInterest">
        DELETE FROM interest
        WHERE id = #{id}
    </delete>



</mapper>