<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mintae.dating.mapper.UserMapper">

    <select id="findByMobile" resultType="com.mintae.dating.vo.User">
        SELECT * FROM user WHERE mobile = #{mobile}
    </select>

    <select id="findByMobile_OAuth" resultType="com.mintae.dating.security.oauth.dto.OAuth2DTO">
        SELECT * FROM oauth WHERE user_id = #{user_id}
    </select>

    <insert id="signup">
        insert into user(mobile, gender, birth_date, address, height, education, job, religion, alcohol, cigarette)
        values(#{mobile}, #{gender}, #{birth_date}, #{address}, #{height}, #{education}, #{job}, #{religion}, #{alcohol}, #{cigarette})
    </insert>


</mapper>