<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mintae.dating.user.mapper.UserMapper">

    <select id="findByMobile" resultType="com.mintae.dating.user.vo.User">
        SELECT * FROM user WHERE mobile = #{mobile}
    </select>

    <select id="findByMobile_OAuth" resultType="com.mintae.dating.security.oauth.dto.OAuth2DTO">
        SELECT * FROM oauth WHERE user_id = #{user_id}
    </select>

    <insert id="signup" useGeneratedKeys="true" keyProperty="id">
        insert into user(mobile, gender, birth_date, address, height, education, job, religion, alcohol, cigarette)
        values(#{mobile}, #{gender}, #{birth_date}, #{address}, #{height}, #{education}, #{job}, #{religion}, #{alcohol}, #{cigarette})
    </insert>

    <insert id="insertInterest" useGeneratedKeys="true" keyProperty="id">
        insert into interest (content, custom)
        values(#{content}, true)
    </insert>

    <insert id="insertFeature" useGeneratedKeys="true" keyProperty="id">
        insert into feature (content, custom)
        values(#{content}, true)
    </insert>

    <insert id="insertUser_Interest">
        insert into user_interest (user_id, interest_id, status)
        values(#{user_id}, #{interest_id}, true)
    </insert>

    <insert id="insertUser_Term">
        insert into user_term (user_id, term_id, agree)
        values(#{user_id}, #{term_id}, #{agree})
    </insert>

    <insert id="insertUser_Feature">
        insert into user_feature (user_id, feature_id, status)
        values(#{user_id}, #{feature_id}, true)
    </insert>

    <insert id="insertProfile">
        insert into profile (user_id, original_name, saved_name, saved_path, status)
        values(#{user_id}, #{original_name}, #{saved_name}, #{saved_path}, true)
    </insert>

    <select id="getInterest" resultType="com.mintae.dating.interest.vo.Interest">
        SELECT * FROM interest WHERE id = #{id}
    </select>

    <select id="getUser_Interest" resultType="com.mintae.dating.user_interest.vo.User_Interest">
        SELECT * FROM user_interest WHERE user_id = #{id}
    </select>



</mapper>